---
import Layout from '@/layouts/Layout.astro'

import { db, User, Slot } from 'astro:db'
import Header from '@/components/Header'
import WeeklyCalendar from '@/components/WeeklyCalendar'

//Usuario logeado de la cookie
const user = Astro.locals.user

//Usuarios de la bbdd
const users = await db.select().from(User)
users.forEach((e) => {
  console.log(e)
})

//Usuarios de la bbdd
const slots = await db.select().from(Slot)
slots.forEach((e) => {
  console.log(e)
})

//Si tenemos usuario logeado, comprobamos si es miembro o admin
const is_admin = users.find((e) => {
  if (e.id === user?.id) {
    return e.is_admin
  }
})
---

<Layout title="Dashboard">
  <div class="flex flex-col items-center justify-center">
    <div class="my-5">
      <Header client:load />
    </div>
    <div class="w-11/12 mb-10">
      <WeeklyCalendar client:load />
    </div>
  </div>
</Layout>
