---
import Layout from '@/layouts/Layout.astro'
import Calendar from '@/components/Calendar.astro'
---

<Layout title="Welcome to Astro.">
  <main class="container mx-auto px-4">
    <Calendar/>
  </main>
</Layout>