---
import Layout from '@/layouts/Layout.astro'

//Usuario logeado de la cookie
const user = Astro.locals.user
if (user) {
  return Astro.redirect('/dashboard')
}
---

<Layout title="Registro">
  <div class="flex flex-col justify-center items-center mt-32">
    <div class="w-full max-w-md">
      <form
        class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4"
        method="POST"
        action="api/signup"
      >
        <div class="mb-4">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="name"> Name </label>
          <input
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            id="name"
            name="name"
            type="text"
            placeholder="Nombre"
            required
          />
        </div>
        <div class="mb-6">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="email"> Email </label>
          <input
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            id="email"
            name="email"
            type="email"
            placeholder="Dirección de email"
            required
          />
        </div>
        <div class="flex items-center justify-between">
          <button
            class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
            type="submit"
          >
            Registrarme
          </button>
        </div>
      </form>
      <p class="text-center text-gray-500 text-xs">&copy;2024 A&H. All rights reserved.</p>
    </div>
  </div>
</Layout>
