---
import '@/styles/index.scss'
import clases from '@/data/event.json'

const hours = Array.from({ length: 16 }, (_, i) => i + 7).filter(
  (hour) => hour !== 14 && hour !== 15
)
const days = ['Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes']
const slots = clases

const getLevelColor = (level: any) => {
  switch (level) {
    case 'Principiante':
      return 'bg-sky-200'
    case 'Intermedio':
      return 'bg-yellow-500'
    case 'Avanzado':
      return 'bg-red-500'
    default:
      return 'bg-gray-300'
  }
}
---
  <div class="m-5">
    <div class="grid grid-cols-1 lg:grid-cols-5 mx-8 lg:border lg:border-slate-500">
    {
      days.map((day) => (
        <div class="flex flex-col h-full">
          <div class="flex-1 content-center text-center font-semibold border-b-2 border-x-2 border-slate-700">{day} {Math.floor(Math.random() * 10)+1} </div>
          {hours.map((hour) => (
            <div class="relative border-b border-gray-200">
                <a href={`/clases/${day}-${hour}`} class={`absolute text-white shadow-inner rounded-md h-20 w-11/12 my-1.5 mx-3 ${getLevelColor('Principiante')}`}>
                  {hour}:00
                </a>
            </div>
            <div class="h-12"></div>
            <div class="border-t border-gray-200 h-12"></div>
          ))}
        </div>
      ))
    }
    </div>
  </div>
