---
import '@/styles/global.css'
---

<!doctype html>
<html lang="es" class="h-full bg-gray-50">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Motion Leon - salud y movimiento" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>MOTION-LEON</title>
  </head>
  <body class="h-full">
    <slot />
  </body>
</html>
